.env
/vendor
!/html/favicon.ico
!/html/google*.html

/html/*
!/html/wp-content
/html/wp-content/*
!/html/wp-content/uploads
/html/wp-content/uploads/*
!/html/wp-content/uploads/static
!/html/wp-content/themes
/html/wp-content/themes/*
!/html/wp-content/themes/*-child
mysql/*
.idea/*
